// Colors
$color-grey-dark-1: rgba(51, 51, 51, 0.92);
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;

$color-primary: #34fcbb;
$color-primary-light: #34fcbd3a;
$color-primary-dark: #00a973;


// Break points
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}