.header {
  height: 10rem;
  background-color: $color-primary-light;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    border-radius: 8px;
    height: 5.25rem;
    width: 5.25rem;
    margin-left: 2rem;
  }

  &__heading {
    font-size: 3.5rem;
    font-weight: 300;
    color: $color-primary-dark;
    align-self: center;
    margin-right: 40%;
  }
}
