.header {
  height: 10rem;
  background-color: $color-primary-light;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    border-radius: 8px;
    height: 5.25rem;
    width: 5.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  &__heading {
    font-size: 3.5rem;
    font-weight: 300;
    color: $color-primary-dark;
    align-self: center;
    margin-right: 40%;

    @include respond(tab-port) {
      margin-right: auto;
    }

    @include respond(phone) {
      font-size: 2.5rem;
    }
  }
}
