.container {
  max-width: 120rem;
  margin: 8rem auto;
  // background-color: $color-grey-dark-3;
  box-shadow: 0 2rem 4rem rgba($color-grey-dark-1, .3);
  min-height: 50rem;
}

.feature {
  position: relative;
  padding: 15rem 0;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .35;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}